@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#app {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}

#timesig {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: -10px;
}
